@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body{
    background: #EEF7FF;
}

.main{
    margin: 10px;
}

.main .title{
    font-size: 50px;
    margin-bottom: 15px;
    text-align: center;
    color: rgba(0,136,169,1);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.main .card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card_container .card{
    max-width: 350px;
    margin-top: 50px;
    border-radius: 20px;
    background: #CDE8E5;
    border: 0.5px solid #f1f5f9;
    padding: 15px;
    color: rgba(0,136,169,1);
    position: relative;
}

.user_content .name{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.user_content .post{
    font-size: 15px;
    color: rgba(0,136,169,1);
    margin: 15px 0;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    left: 16px;
}

.user_content .post::before{
    content: "";
    height: 1px;
    width: 15px;
    background: rgba(0,136,169,1);
    position: absolute;
    top: 50%;
    left: -16px;
}

.fa-solid{
    color: #ffc107;
}

.transparent{
    color: transparent;
}

.user_content .about{
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 13px;
    text-align: justify;
}

.card .round_box{
    position: absolute;
    top: -20%;
    right: 10%;
    background: #CDE8E5 !important;
    width: 130px;
    height: 130px;
    border: 1px solid #f1f5f9;
    border-radius: 50%;
    z-index: 333;
}

.card .img_box{
    position: absolute;
    top: -20%;
    right: 10%;
    z-index: 555;
}

.card .img_box img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 10px;
}

.card .squareBox{
    height: 90px;
    width: 136px;
    background: #CDE8E5;
    position: absolute;
    top: 0;
    right: 9%;
    z-index: 444;
}

li, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: black;
    text-decoration: none;
    background-color: #CDE8E5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 10%;
    background-color: #CDE8E5;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
}

header.sticky {
    background-color: #CDE8E5;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1); 
}

.logo {
    cursor: pointer;
    background-color: #CDE8E5;
    font-weight: bold;
}

.icon {
    cursor: pointer;
    background-color: #CDE8E5;
    font-weight: bold;
    display: inline-block;
}

.logo:hover {
    color: #116A7B;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #CDE8E5;
    height: auto;
    width: auto;
    font-family: "Poppins", sans-serif;
    padding-top: 0.625rem; 
    color: black;
}

.footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    padding: 20px;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 25.625rem; 
    margin: 0.625rem auto; 
    line-height: 1.75rem; 
    font-size: 0.875rem; 
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem 0 1rem 0; 
    scale: 1.8;
}

.footer-bottom {
    background: #b1dad5;
    width: auto;
    padding: 0.9375rem 0; 
    text-align: center;
}

.footer-bottom p {
    font-size: 0.875rem; 
    word-spacing: 0.125rem; 
    text-transform: capitalize;
}

.footer-content .col-1, .footer-content .col-2 {
    flex: 1;
    padding: 0px;
}

.footer-content .col-1 {
    max-width: 25%;
}

.footer-content .col-2 {
    max-width: 100%;
    margin-right: 10px;
}

.footer-content .col-3 {
    max-width: 20%;
    margin-right: 50px;
}

form input {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
}

form button {
    background-color: rgba(0, 136, 169, 1);
    color: #fff;
    padding: 0.438rem 1.25rem; 
    border: solid rgba(0, 136, 169, 1);
    border-radius: 1.25rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

form button:hover {
    transform: scale(1.05);
    color: rgba(0, 136, 169, 1);
    background-color: #CDE8E5;
}

form button:active {
    transform: scale(0.95);
}

/* pop up notifications */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Satoshi", serif;
    background-color: #b1dad5;
    color: black;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
    border: solid black 0.5px;
  }

@media screen and (max-width: 768px) {
    .footer-content .col-1 {
        display: none;
    }

    .footer-content h3 {
        font-size: 1.2rem;
    }
    
    .footer-content p {
        font-size: 0.8rem; 
    }

    form input {
        width: 140px;
    }
}

@media screen and (max-width: 480px) {
    .footer-content .col-1 {
        display: none;
    }

    .footer-content h3 {
        font-size: 0.75rem;
    }
    
    .footer-content p {
        font-size: 0.6rem; 
    }

    form input {
        width: 115px;
    }
}